In [2076]:
# importing pandas module
import pandas as pd

In [2077]:
# reading and creating a data frame of csv file
file = pd.read_csv('D:\\datasets\\sclerosis\\conversion_predictors_of_clinically_isolated_syndrome_to_multiple_sclerosis.csv',index_col=0)
df = file.copy()
#get 10 samples randomly
df.sample(10)

,Gender,Age,Schooling,Breastfeeding,Varicella,Initial_Symptom,Mono_or_Polysymptomatic,Oligoclonal_Bands,LLSSEP,ULSSEP,VEP,BAEP,Periventricular_MRI,Cortical_MRI,Infratentorial_MRI,Spinal_Cord_MRI,Initial_EDSS,Final_EDSS,group
263,2,38,12.0,3,3,8.0,3,0,1,1,0,0,0,0,0,1,NaN,NaN,2
1,1,61,25.0,3,2,10.0,2,1,1,0,1,0,0,0,0,1,2.0,2.0,1
7,2,24,15.0,1,1,14.0,2,0,1,1,0,0,1,1,1,1,2.0,2.0,1
80,1,19,15.0,3,2,3.0,1,0,1,0,0,0,1,0,0,0,1.0,1.0,1
56,2,28,15.0,1,1,6.0,2,0,0,1,0,0,1,0,0,0,1.0,1.0,1
114,2,54,20.0,1,1,8.0,2,0,0,0,0,0,1,1,0,0,1.0,1.0,1
166,2,22,15.0,1,1,1.0,1,0,1,0,1,0,1,0,0,0,NaN,NaN,2
54,1,51,9.0,1,1,13.0,2,1,1,1,1,1,1,1,1,1,1.0,2.0,1
100,2,32,15.0,1,1,10.0,2,0,1,1,0,0,1,1,0,0,2.0,2.0,1
206,1,31,12.0,3,3,1.0,2,1,1,0,1,0,1,1,0,0,NaN,NaN,2

In [2078]:
#getting information from data frame
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 273 entries, 0 to 272
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Gender                   273 non-null    int64
 1   Age                      273 non-null    int64
 2   Schooling                272 non-null    float64
 3   Breastfeeding            273 non-null    int64
 4   Varicella                273 non-null    int64
 5   Initial_Symptom          272 non-null    float64
 6   Mono_or_Polysymptomatic  273 non-null    int64
 7   Oligoclonal_Bands        273 non-null    int64
 8   LLSSEP                   273 non-null    int64
 9   ULSSEP                   273 non-null    int64
 10  VEP                      273 non-null    int64
 11  BAEP                     273 non-null    int64
 12  Periventricular_MRI      273 non-null    int64
 13  Cortical_MRI             273 non-null    int64
 14  Infratentorial_MRI       273 non-null    int64
 15  Spinal_Cord_MRI          273 non-null    int64
 16  Initial_EDSS             125 non-null    float64
 17  Final_EDSS               125 non-null    float64
 18  group                    273 non-null    int64
dtypes: float64(4), int64(15)
memory usage: 42.7 KB

In [2079]:
#how many nulls does data frame have ?
df.isnull().sum()

Gender                       0
Age                          0
Schooling                    1
Breastfeeding                0
Varicella                    0
Initial_Symptom              1
Mono_or_Polysymptomatic      0
Oligoclonal_Bands            0
LLSSEP                       0
ULSSEP                       0
VEP                          0
BAEP                         0
Periventricular_MRI          0
Cortical_MRI                 0
Infratentorial_MRI           0
Spinal_Cord_MRI              0
Initial_EDSS               148
Final_EDSS                 148
group                        0
dtype: int64

In [2080]:
#storing columns that have null data in a list
nan_cols = [col for col in df.columns if df[col].isnull().any()]
#value counting of data frame
for i in nan_cols :
    print(i)
    print(df[i].value_counts(ascending=False))

Schooling
20.0    83
15.0    81
12.0    59
9.0     34
22.0     4
6.0      3
25.0     2
14.0     2
0.0      1
23.0     1
24.0     1
8.0      1
Name: Schooling, dtype: int64
Initial_Symptom
8.0     39
3.0     32
1.0     31
4.0     30
2.0     26
6.0     17
10.0    15
14.0    14
5.0     13
15.0    11
13.0    11
11.0    10
7.0      9
9.0      8
12.0     6
Name: Initial_Symptom, dtype: int64
Initial_EDSS
1.0    87
2.0    31
3.0     7
Name: Initial_EDSS, dtype: int64
Final_EDSS
1.0    80
2.0    34
3.0    11
Name: Final_EDSS, dtype: int64

In [2081]:
#Initial_EDSS and Final_EDSS have many nulls so we should drop them because we cant impute them with mean or median and etc
df = df.drop(nan_cols[2:],axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 273 entries, 0 to 272
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Gender                   273 non-null    int64
 1   Age                      273 non-null    int64
 2   Schooling                272 non-null    float64
 3   Breastfeeding            273 non-null    int64
 4   Varicella                273 non-null    int64
 5   Initial_Symptom          272 non-null    float64
 6   Mono_or_Polysymptomatic  273 non-null    int64
 7   Oligoclonal_Bands        273 non-null    int64
 8   LLSSEP                   273 non-null    int64
 9   ULSSEP                   273 non-null    int64
 10  VEP                      273 non-null    int64
 11  BAEP                     273 non-null    int64
 12  Periventricular_MRI      273 non-null    int64
 13  Cortical_MRI             273 non-null    int64
 14  Infratentorial_MRI       273 non-null    int64
 15  Spinal_Cord_MRI          273 non-null    int64
 16  group                    273 non-null    int64
dtypes: float64(2), int64(15)
memory usage: 38.4 KB

In [2082]:
#importing SimpleImputer and numpy modules
from sklearn.impute import SimpleImputer
import numpy as np
imputer = SimpleImputer(missing_values=np.nan)

In [2083]:
#impute data frame with mean strategy and make a data frame of that 
imputed_df = pd.DataFrame(imputer.fit_transform(df),columns=df.columns)
imputed_df.isnull().sum()

Gender                     0
Age                        0
Schooling                  0
Breastfeeding              0
Varicella                  0
Initial_Symptom            0
Mono_or_Polysymptomatic    0
Oligoclonal_Bands          0
LLSSEP                     0
ULSSEP                     0
VEP                        0
BAEP                       0
Periventricular_MRI        0
Cortical_MRI               0
Infratentorial_MRI         0
Spinal_Cord_MRI            0
group                      0
dtype: int64

In [2084]:
#seperating label column and drop it from data frame
label = imputed_df['group']
imputed_df = imputed_df.drop(['group'],axis=1)

In [2085]:
imputed_df.describe()

,Gender,Age,Schooling,Breastfeeding,Varicella,Initial_Symptom,Mono_or_Polysymptomatic,Oligoclonal_Bands,LLSSEP,ULSSEP,VEP,BAEP,Periventricular_MRI,Cortical_MRI,Infratentorial_MRI,Spinal_Cord_MRI
count,273.000000,273.000000,273.000000,273.000000,273.000000,273.000000,273.000000,273.000000,273.000000,273.000000,273.000000,273.000000,273.000000,273.000000,273.000000,273.000000
mean,1.615385,34.062271,15.176471,1.831502,1.710623,6.430147,1.725275,0.358974,0.424908,0.369963,0.307692,0.065934,0.505495,0.432234,0.293040,0.315018
std,0.487398,11.114369,4.236366,0.874998,0.732991,4.214241,0.494066,0.558426,0.495237,0.483681,0.462386,0.248623,0.500888,0.496296,0.455993,0.465376
min,1.000000,15.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,25.000000,12.000000,1.000000,1.000000,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.000000,33.000000,15.000000,2.000000,2.000000,6.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,2.000000,40.000000,20.000000,3.000000,2.000000,9.000000,2.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
max,2.000000,77.000000,25.000000,3.000000,3.000000,15.000000,3.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [2086]:
#seperating coulmns with binary values
binary_columns = list()
for col in imputed_df.columns :
    val = list(set(imputed_df[col].to_list()))
    if len(val) == 2 :
        if 1 in val and 0 in val:
            binary_columns.append(col)
binary_columns

['LLSSEP',
 'ULSSEP',
 'VEP',
 'BAEP',
 'Periventricular_MRI',
 'Cortical_MRI',
 'Infratentorial_MRI',
 'Spinal_Cord_MRI']

In [2087]:
binary_df = imputed_df[binary_columns]
non_binary_df = imputed_df.drop(binary_df.columns,axis=1)

In [2088]:
#importing StandardScaler from sklearn module
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [2089]:
#scaling that data frame with non_binary columns
scaled_non_binary_df = pd.DataFrame(scaler.fit_transform(non_binary_df),columns=non_binary_df.columns)
scaled_non_binary_df.describe()

,Gender,Age,Schooling,Breastfeeding,Varicella,Initial_Symptom,Mono_or_Polysymptomatic,Oligoclonal_Bands
count,2.730000e+02,2.730000e+02,2.730000e+02,2.730000e+02,2.730000e+02,2.730000e+02,2.730000e+02,2.730000e+02
mean,7.889497e-17,-2.944328e-16,2.065910e-16,1.122423e-16,2.765391e-17,1.211892e-16,2.789791e-16,1.065489e-16
std,1.001837e+00,1.001837e+00,1.001837e+00,1.001837e+00,1.001837e+00,1.001837e+00,1.001837e+00,1.001837e+00
min,-1.264911e+00,-1.718251e+00,-3.589006e+00,-9.520352e-01,-9.712635e-01,-1.290890e+00,-1.470667e+00,-6.440125e-01
25%,-1.264911e+00,-8.168628e-01,-7.511872e-01,-9.520352e-01,-9.712635e-01,-8.154367e-01,-1.470667e+00,-6.440125e-01
50%,7.905694e-01,-9.575190e-02,-4.173262e-02,1.929234e-01,3.955145e-01,-1.022573e-01,5.570706e-01,-6.440125e-01
75%,7.905694e-01,5.352201e-01,1.140692e+00,1.337882e+00,3.955145e-01,6.109220e-01,5.570706e-01,1.150022e+00
max,7.905694e-01,3.870358e+00,2.323116e+00,1.337882e+00,1.762292e+00,2.037281e+00,2.584808e+00,2.944057e+00

In [2090]:
#joining scaled data frame with data frame with binray values
finall_df = pd.concat([binary_df,scaled_non_binary_df],axis=1)
finall_df.head()

,LLSSEP,ULSSEP,VEP,BAEP,Periventricular_MRI,Cortical_MRI,Infratentorial_MRI,Spinal_Cord_MRI,Gender,Age,Schooling,Breastfeeding,Varicella,Initial_Symptom,Mono_or_Polysymptomatic,Oligoclonal_Bands
0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,-1.264911,-0.005613,1.140692,-0.952035,-0.971263,-1.053163,-1.470667,-0.644013
1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,-1.264911,2.428136,2.323116,1.337882,0.395515,0.848648,0.557071,1.150022
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-1.264911,-1.087279,1.140692,1.337882,-0.971263,-0.815437,-1.470667,1.150022
3,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.790569,0.625359,-0.041733,-0.952035,-0.971263,0.135469,0.557071,1.150022
4,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.790569,-0.005613,1.140692,0.192923,-0.971263,-0.102257,0.557071,-0.644013

In [2091]:
#splitting our data to train and test 
from sklearn.model_selection import train_test_split
xtr , xts , ytr , yts = train_test_split(finall_df,label,test_size=0.18,random_state=0)

In [2092]:
#making a model of Decision Tree with max_leaf_nodesm : 35
from sklearn.tree import DecisionTreeClassifier
max_leaf = 35
model = DecisionTreeClassifier(max_leaf_nodes=max_leaf)

In [2093]:
#fitting model with training data
model.fit(xtr,ytr)

DecisionTreeClassifier(max_leaf_nodes=35)

In [2094]:
#testing with train data
model.score(xtr,ytr)*100

97.30941704035875

In [2095]:
#testing with test data
model.score(xts,yts)*100

90.0

In [2096]:
#testing with original data data
model.score(finall_df,label)*100

95.97069597069597

In [2097]:
#testing accuracy of model
bad_result = 0
for i in range(20) :
    xtr , xts , ytr , yts = train_test_split(finall_df,label,test_size=0.18,random_state=0)
    model = DecisionTreeClassifier(max_leaf_nodes = max_leaf)
    model.fit(xtr,ytr)
    res = (model.score(xtr,ytr)*100) - (model.score(xts,yts)*100)
    if res > 15 :
        bad_result += 1
bad_result

0